<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="Styles/header.css">
    <title>New Project</title>
</head>
<body>

    <!-- <div class="nav-container">
            
            <div class="nav-left">
                    <i class="fas fa-rupee-sign"></i>
                    <p>tsfBank</p>
            </div>
            <div class="nav-center">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/transaction">Transfer</a></li>
                    <li><a href="/transaction-history">History</a></li>
                </ul>
            </div>
            <div class="nav-right">
                <p>Balance : <%= balance %></p>
            </div>
    </div> -->




    <nav class="navbar">
        <div class="brand-title">TSF BANK</div>
        <a href="#" class="toggle-button">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </a>
        <div class="navbar-links">
          <ul>
            <li><a href="/get-started">Home</a></li>
            <li><a href="/transaction">Transfer</a></li>
            <li><a href="/transaction-history">History</a></li>
            <li><a href="/members">Members</a></li>
            <li class="balance"><p>Balance : <%= balance %></p></li>
          </ul>
        </div>
      </nav>


    