<%- include("partials/header") %>
<div class="container">
  <div class="content">
    <h2 class="heading">Welcome To Online Banking System</h2>

    <p class="main-content">
      Start transferring your money in very smart way.we provide very efficient
      and smart way of transferring your money
    </p>

    <button class="submit"><a href="/form"></a>Get Started</button>
  </div>
</div>

<%- include("partials/footer") %>
